/*Estilos GENERALES primero lo ponemos todo a 0, para luego empezar a jugar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
:root {
    /* PALETA DE COLORES */
    --dark-primary-color: #689F38;
    --light-primary-color: #DCEDC8;
    --primary-color: #8BC34A;
    --text-icons: #212121;
    --accent-color: #795548;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
}

header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
background-color: #689F38;
color:#DCEDC8;
font-size: medium ;
}

.logo{
    max-width: 5rem;
    border-radius: 50%;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

.nav-list{
list-style-type: none;
display:flex;
gap: 3rem;
}

.nav-list li a{ 
    text-decoration: none;
    color: #DCEDC8;
}

/* CONTENIDO LA FINCA*/
.contenido {
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 1rem; /* Espacio entre la imagen y el texto */
    padding: 1rem; /* Espaciado interno */
}

.contenido img {
    width: 40%; /* La imagen ocupa el 40% del ancho */
    height: auto; /* Mantiene la proporción de la imagen */
}

.contenido .texto {
    width: 60%; /* El texto ocupa el 60% del ancho */
    text-align: justify; /* Justifica el texto */
}

.video-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.video-section .text, .video-section .video {
    flex: 1;
}

.video-section .text {
    padding-right: 1rem;
}

.video-section .video {
    display: flex;
    justify-content: center;
}

.video-section iframe {
   width: auto;

    height: 100%;
}

@media screen and (max-width: 550px){
    .abrir-menu,
    .cerrar-menu{    
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu{
        color: #212121;
    }
    .cerrar-menu{
        color: #212121;    
    
    }
    .nav{ 
        /*display: none;*/
        opacity: 0 ;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position:absolute;
        top:0;
        right:0;
        bottom: 0;
        background-color: #689F38;
        padding: 2rem;
    box-shadow: 0 0 0 100vmax   rgba(189, 189, 189, 0.493);
    }
     .nav.visible{
        opacity: 1;
        visibility: visible;
     }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    
    .nav-list li a{
        color: #DCEDC8;    
    }

}

footer{
    background-color: #689F38;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 2%;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content:center;    
    gap: 3rem;

}  
footer p{
    margin: 0;
}