*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
background-color: #bdee62;
}

.logo{
    max-width: 5rem;
    border-radius: 50%;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

.nav-list{
list-style-type: none;
display:flex;
gap: 1rem;
}

.nav-list li a{ 
    text-decoration: none;
    color: black;
}

.video-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.video-section .text, .video-section .video {
    flex: 1;
}

.video-section .text {
    padding-right: 1rem;
}

.video-section .video {
    display: flex;
    justify-content: center;
}

.video-section iframe {
   width: auto;

    height: 100%;
}

@media screen and (max-width: 550px){
    .abrir-menu,
    .cerrar-menu{    
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu{
        color: black;
    }
    .cerrar-menu{
        color: #ecba14;    
    
    }
    .nav{ 
        /*display: none;*/
        opacity: 0 ;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position:absolute;
        top:0;
        right:0;
        bottom: 0;
        background-color: #1e6808;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax   rgba(24, 65, 19, 0.5);
    }
     .nav.visible{
        opacity: 1;
        visibility: visible;
     }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    
    .nav-list li a{
        color: #ecba14;    
    }

}