@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Estilos GENERALES primero lo ponemos todo a 0, para luego empezar a jugar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
:root {
  /* PALETA DE COLORES */
  --primary-color: #467642;
  --secundary-color: #16425b;
  --bakground-color: #dcff66;
  --background-color-opacidad-06: rgba(220, 255, 102, 0.6);
  --surface-color: #6e8898;
  --accent-color-buttons: #2e5266;
  --text-icons: #212121;
  --text-buttons: #ffffff;
}

/*** modo contraste*******/
/* colores para el modo contraste */
.modo-contraste #inicio {
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Texto blanco */
}

.modo-contraste #inicio a {
  color: #ffeb3b; /* Enlaces en amarillo */
}

.modo-contraste #inicio img {
  filter: brightness(0.8); /* Oscurece ligeramente las imágenes */
}

.modo-contraste #inicio p {
  color: #ffffff; /* Asegura que el texto sea blanco */
}

/* botón */
#contraste {
  position: fixed; /* Fija el botón en la pantalla */
  top: 160px; /* Distancia desde la parte superior */
  right: 20px; /* Distancia desde la parte derecha */
  display: flex; /* Usa Flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente el texto */
  align-items: center; /* Centra verticalmente el texto */
  width: 100px; /* Ancho del botón */
  height: 100px; /* Altura del botón (igual al ancho para hacerlo redondo) */
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Texto blanco */
  border: none; /* Sin bordes */
  border-radius: 50%; /* Hace el botón completamente redondo */
  font-size: 1rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Sombra para darle profundidad */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
}

#contraste:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el ratón */
}
#contraste:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el ratón */
}

/*** fin modo contraste*******/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ffffff;

  font-size: medium;
  border-bottom: 3px solid var(--accent-color-buttons); /* Línea decorativa en la parte inferior */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.logo {
  width: 20%;
  height: auto;
}
.logo img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px; /* Borde redondeado */
}
.abrir-menu,
.cerrar-menu {
  display: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  justify-content: center;
}

.nav-list li a {
  text-decoration: none;
  color: var(--text-buttons);
  background-color: var(--accent-color-buttons);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid var(--dark-primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
}

.nav-list li a:hover {
  background-color: transparent;
  color: var(--text-icons); /* Punto y coma añadido */
  border: 2px solid var(--accent-color-buttons); /* Cambia el color del borde al pasar el ratón */
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  color: var(--text-icons); /* Color del texto */
  font-size: 1rem; /* Tamaño de fuente por defecto */
  line-height: 1.5; /* Espaciado entre líneas */
  height: 100vh; /* Altura del viewport */
  background: linear-gradient(to bottom, #ffffff, var(--surface-color));
  background-repeat: cover;
  background-attachment: fixed; /* Fija el fondo al desplazarse */
  z-index: -1;
}

h2 {
  text-align: center;
  color: var(--dark-primary-color);
  font-size: 2rem;
  margin: 1rem;
  gap: 1rem;
}

h3 {
  text-align: center;
  color: var(--dark-primary-color);
  font-size: 1.5rem;
  margin: 1rem;
  gap: 1rem;
}

/* ********************************
  *****    FOOTER   ***************
  ******************************** */
footer {
  background-color: var(--primary-color); /* Fondo con el color primario */
  color: var(--text-buttons); /* Texto en blanco */
  text-align: center; /* Centra el texto */
  padding: 1.5rem 1rem; /* Espaciado interno */
  font-size: 0.9rem; /* Tamaño de fuente */
  border-top: 3px solid var(--accent-color-buttons); /* Línea decorativa en la parte superior */
}

footer p {
  margin: 0.5rem 0; /* Espaciado entre los párrafos */
}

footer p:first-child {
  font-weight: bold; /* Resalta el primer párrafo */
}

footer a {
  color: var(--text-buttons); /* Enlaces en blanco */
  text-decoration: underline; /* Subrayado para los enlaces */
  transition: color 0.3s ease; /* Transición suave al pasar el ratón */
}

footer a:hover {
  color: var(
    --background-color-opacidad-06
  ); /* Cambia el color del enlace al pasar el ratón */
}

/* ***********************
** nav y footer tablet ****
************************** */
@media screen and (max-width: 768px) {
  /* Header */
  header {
    position: relative; /* Cambia la posición a relativa */
    flex-direction: column; /* Cambia el diseño a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 1rem;
  }

  header .logo {
    width: 80%; /* Ajusta el tamaño del logo */
    margin-bottom: 1rem;
  }

  .abrir-menu {
    display: block; /* Muestra el botón de hamburguesa */
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2000; /* Encima del nav */
    color: var(--secundary-color); /* Azul oscuro */
  }

  .cerrar-menu {
    display: block; /* Muestra el botón de cerrar */
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2000; /* Encima del nav */
    color: var(--secundary-color); /* Azul oscuro */
  }

  /* Nav */
  .nav {
    position: fixed; /* Fija el nav en la pantalla */
    top: 2rem;
    left: 0; /* Alinea el nav al lado derecho */
    width: 50%; /* Ocupa el 30% del ancho de la pantalla */
    height: 100%; /* Ocupa toda la altura de la pantalla */
    background-color: #ffffff; /* Fondo blanco */
    opacity: 1; /* Oculto inicialmente */
    visibility: hidden; /* Oculto inicialmente */
    z-index: 1000; /* Se coloca encima de todo */
    display: flex;
    flex-direction: column; /* Los enlaces se apilan verticalmente */
    align-items: left; /* Centra los enlaces horizontalmente */
    justify-content: flex-start; /* Alinea los enlaces al inicio verticalmente */
    gap: 0.8rem; /* Espaciado entre los enlaces */
    padding: 2rem 1rem; /* Espaciado interno */
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    transform: translateX(
      100%
    ); /* Oculta el nav fuera de la pantalla inicialmente */
    transition: transform 0.3s ease; /* Transición suave al abrir/cerrar */
  }

  .nav.visible {
    transform: translateX(6); /* Muestra el nav */
    opacity: 1;
    visibility: visible;
    z-index: 1000; /* Se coloca encima de todo */
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    padding: 2rem 1rem; /* Espaciado interno */
  }

  .nav-list {
    flex-direction: column; /* Los enlaces se apilan verticalmente */
    gap: 1rem; /* Espaciado entre los enlaces */
    /*align-items: center; /* Centra los enlaces horizontalmente */
    justify-content: center; /* Centra los enlaces verticalmente */
    background-color: white;
  }

  .nav-list li a {
    font-size: 1rem; /* Tamaño del texto */
    color: var(--text-buttons); /* Texto en azul oscuro */
    background-color: var(--accent-color-buttons); /* Fondo transparente */
    padding: 0.8rem 1.5rem; /* Espaciado interno para que parezca un botón */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
    border: 2px solid var(--secundary-color); /* Borde azul oscuro */
    display: inline-block; /* Asegura que el enlace se comporte como un botón */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  /* Footer */
  footer {
    padding: 1rem;
    font-size: 0.9rem; /* Reduce el tamaño del texto */
  }
}

/* ***********************
** nav y footer movil ****
************************** */
@media screen and (max-width: 480px) {
  /* Header */
  header {
    padding: 0.5rem;
  }

  header .logo {
    width: 90%; /* Reduce aún más el tamaño del logo */
  }

  .abrir-menu {
    display: block; /* Muestra el botón de hamburguesa */
    position: absolute;
    top: 1rem; /* Baja aún más el botón de hamburguesa en móviles */
    right: 1rem; /* Mantiene el botón a la derecha */
    font-size: 4rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100; /* Encima del nav */
  }

  .cerrar-menu {
    display: block; /* Muestra el botón de cerrar */
    position: absolute;
    top: 1rem; /* Baja el botón de cierre */
    left: 1rem; /* Mantiene el botón a la izquierda */
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100; /* Encima del nav */
  }

  /* Nav */
  .nav {
    position: fixed; /* Fija el nav en la pantalla */
    top: 0;
    left: 0; /* Asegura que el nav comience desde el borde izquierdo */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100%; /* Ocupa toda la altura de la pantalla */
    background-color: #ffffff; /* Fondo blanco */
    opacity: 1; /* Asegura que sea visible */
    visibility: visible; /* Asegura que sea visible */
    z-index: 1000; /* Se coloca encima de todo */
    display: flex;
    flex-direction: column; /* Los enlaces se apilan verticalmente */
    align-items: center; /* Centra los enlaces horizontalmente */
    justify-content: flex-start; /* Alinea los enlaces al inicio verticalmente */
    gap: 1rem; /* Espaciado entre los enlaces */
    padding: 2rem 1rem; /* Espaciado interno */
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  }

  .nav.visible {
    transform: translateX(
      0
    ); /* Asegura que el nav esté completamente visible */
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column; /* Los enlaces se apilan verticalmente */
    gap: 1.5rem; /* Espaciado entre los enlaces */
    background-color: white;
  }

  .nav-list li a {
    font-size: 0.9rem; /* Ajusta el tamaño del texto */
    color: var(--text-buttons); /* Texto en azul oscuro */
    background-color: var(--accent-color-buttons);
    padding: 0.8rem 1.5rem; /* Espaciado interno para que parezca un botón */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
    border: 2px solid var(--secundary-color); /* Borde azul oscuro */
    display: inline-block; /* Asegura que el enlace se comporte como un botón */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
  }

  /* Footer */
  footer {
    font-size: 0.8rem; /* Reduce el tamaño del texto */
    text-align: center;
  }
}

/* *************************
  ******    INICIO   ********
  *************************** */

.inicio {
  position: relative;
  text-align: center;
  background: linear-gradient(
    to top,
    transparent,
    #fafafa
  ); /* Degradado hacia el color del fondo */
  padding-bottom: 20px;
}

.inicio img {
  display: block;
  margin: 2rem auto; /* Centra la imagen */
  width: 100%;
  max-width: 1100px;
  position: relative;
  border-radius: 25px; /* Borde redondeado */
}

.inicio h1 {
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el texto */
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Sombra para mejorar la legibilidad */
  z-index: 10; /* Asegura que el texto esté por encima de la imagen */
}

.inicio p {
  color: var(--text-icons);
  font-size: 1.3rem; /* Letra grande */
  line-height: 1.5; /* Espaciado entre líneas */
  margin: 20px auto; /* Márgenes amplios arriba y abajo */
  max-width: 1200px; /* Limita el ancho para que haya márgenes en los lados */
  text-align: center; /* Centra el texto */
}
.inicio p:last-of-type {
  color: var(--text-buttons);
}

/******inicio tablet ******/
@media screen and (max-width: 768px) {
  #contraste {
    display: none; /* Oculta el botón en pantallas de tablet */
  }
}

/*******inicio movil ******/
@media screen and (max-width: 480px) {
  #contraste {
    display: none; /* Oculta el botón en pantallas de móvil */
  }
}

/***************************
  ******  LA  FINCA   ***
  *****************************/
main {
  background-color: var(--background-color-opacidad-06);
}
section h3 {
  text-align: center;
  color: var(--dark-primary-color);
  font-size: 2rem;
  margin: 1rem;
  gap: 1rem;
}

.contenido {
  display: flex; /* Activa Flexbox para organizar los elementos en fila */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center; /* Espacia los elementos horizontalmente */
  background-color: var(--primary-color);
  padding: 2rem; /* Espaciado interno */
  gap: 2rem; /* Espacio entre la imagen y el texto */
  color: white; /* Color del texto */
  border-radius: 10px; /* Bordes redondeados */
  margin: 2rem auto; /* Espaciado externo y centra horizontalmente */
  max-width: 1200px; /* Limita el ancho máximo del contenedor */
}

.contenido img {
  max-width: 400px; /* Limita el tamaño máximo de la imagen */
  width: 50%; /* La imagen ocupa la mitad del ancho */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px; /* Borde redondeado */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

.contenido img:last-child {
  width: 30%;
  max-width: 200px; /* Limita el tamaño máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

.contenido img:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen ligeramente */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Agrega una sombra para resaltar */
}

.contenido p {
  width: 50%; /* El texto ocupa la otra mitad del ancho */
  text-align: justify; /* Justifica el texto */
  font-size: 1rem; /* Tamaño de fuente */
  line-height: 1.5; /* Espaciado entre líneas */
  border-radius: 1;
  margin: 1rem 0;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease; /* Transición suave */
}
.contenido p:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del texto */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}
.video {
  display: flex; /* Activa Flexbox para organizar los elementos en fila */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-between; /* Espacia los elementos horizontalmente */
  background-color: var(--primary-color); /* Fondo del contenedor */
  padding: 2rem; /* Espaciado interno */
  gap: 2rem; /* Espacio entre el párrafo y el vídeo */
  color: white; /* Color del texto */
  border-radius: 50px; /* Bordes redondeados */
  margin: 2rem auto; /* Espaciado externo y centra horizontalmente */
  max-width: 1800px; /* Limita el ancho máximo del contenedor */
}

.video iframe {
  width: 40; /* El video ocupa la mitad del ancho */
  height: auto; /* Mantiene la proporción del video */
  border-radius: 10px; /* Borde redondeado */
  margin: 0; /* Elimina márgenes adicionales */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  border-radius: 10px; /* Mantiene los bordes redondeados */
}

.video iframe:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño del iframe */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Agrega una sombra para resaltar */
}

.video p {
  width: 60%; /* El párrafo ocupa la otra mitad del ancho */
  text-align: justify; /* Justifica el texto */
  font-size: 1rem; /* Tamaño del texto */
  line-height: 1.5; /* Espaciado entre líneas */
  margin: 0; /* Elimina márgenes adicionales */
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease; /* Transición suave */
}
.video p:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del texto */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}

/****** finca tablet  *****/
@media screen and (max-width: 768px) {
  * {
    margin: 0; /* Elimina márgenes externos */
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 1rem; /* Espacio entre los elementos */
  }
  main {
    display: grid;
    grid-template-columns: 1fr; /* Una columna que ocupa todo el ancho */
    grid-template-rows: auto; /* Filas automáticas */
    gap: 0; /* Elimina cualquier espacio entre las filas o columnas */
    margin: 0; /* Elimina márgenes externos */
    padding: 0; /* Elimina paddings internos */
    width: 100%; /* Asegura que ocupe todo el ancho */
  }

  .contenido,
  .video {
    border-radius: 0; /* Elimina el borde redondeado */
  }

  .contenido {
    display: flex;
    flex-direction: column; /* Cambia a diseño en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    gap: 1rem; /* Espaciado entre los elementos */
    padding: 1rem 0; /* Espaciado interno arriba y abajo */
    margin: 0; /* Elimina márgenes externos */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    max-width: 100%; /* Asegura que no exceda el ancho */
    border-radius: 0;
    background-color: transparent;
  }
  .video {
    display: flex;
    flex-direction: column; /* Cambia a diseño en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    gap: 1rem; /* Espaciado entre los elementos */
    padding: 1rem 0; /* Espaciado interno arriba y abajo */
    margin: 0; /* Elimina márgenes externos */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    max-width: 100%; /* Asegura que no exceda el ancho */
    border-radius: 0;
    background-color: transparent;
  }

  .contenido img,
  .video img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .contenido p,
  .video p {
    width: 90%; /* El texto ocupa el 90% del ancho */
    text-align: justify; /* Justifica el texto */
    color: var(--text-icons); /* Color del texto */
  }
}

/*********finca movil ***********/
@media screen and (max-width: 480px) {
  .contenido,
  .video {
    display: flex;
    flex-direction: column; /* Cambia a diseño en columna */
    align-items: right; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    gap: 1rem; /* Espaciado entre los elementos */
    padding: 1rem 0; /* Espaciado interno arriba y abajo */
    margin: 0; /* Elimina márgenes externos */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    max-width: 100%; /* Asegura que no exceda el ancho */
    border-radius: 0;
    background-color: transparent;
  }

  .contenido img,
  .video img {
    width: 100%; /* La imagen ocupa todo el ancho disponible */
    height: auto; /* Mantiene la proporción */
    border-radius: 0; /* Elimina el borde redondeado */
  }

  .contenido p,
  .video p {
    width: 100%; /* El texto ocupa todo el ancho */
    font-size: 0.9rem; /* Reduce ligeramente el tamaño del texto */
    line-height: 1.5; /* Espaciado entre líneas */

    color: var(--text-icons); /* Color del texto */
    margin: 0; /* Elimina márgenes adicionales */
    text-align: center; /* Centra el texto */
    color: #000;
  }

  .video iframe {
    width: 100%; /* El video ocupa todo el ancho disponible */
    height: auto; /* Mantiene la proporción */
  }
}

/****************************
  ******   PRODUCTOS    ***
  ******************************/

.producto {
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.producto img {
  width: 30%;
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px; /* Borde redondeado */
  min-width: 100px;
}

.producto img:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}

.grid-productos {
  display: grid; /* Activa CSS Grid */
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Ajusta el número de columnas automáticamente */
  gap: 2rem; /* Espacio entre los elementos */
  padding: 2rem; /* Espaciado interno */
  justify-items: center; /* Centra los elementos horizontalmente */
}

.grid-productos .item {
  text-align: center; /* Centra el texto debajo de las imágenes */
}

.grid-productos img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  max-width: 400px; /* Limita el tamaño máximo de las imágenes */
  height: auto; /* Mantiene la proporción de las imágenes */
  border-radius: 10px; /* Bordes redondeados */
}

.grid-productos h3 {
  margin-top: 0.5rem; /* Espaciado entre la imagen y el título */
  font-size: 1.2rem; /* Tamaño del texto */
  color: var(--dark-primary-color); /* Color del texto */
}

@media screen and (max-width: 768px) {
  .producto {
    flex-direction: column; /* Cambia a diseño en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    gap: 1rem; /* Espacio entre los elementos */
    padding: 1rem; /* Espaciado interno reducido */
  }

  .producto img {
    width: 80%; /* La imagen ocupa el 80% del ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 25px;
  }

  .grid-productos {
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); /* Ajusta el número de columnas automáticamente */
    padding: 1rem; /* Espaciado interno reducido */
  }
}

@media screen and (max-width: 480px) {
  .producto {
    flex-direction: column; /* Cambia a diseño en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    gap: 1rem; /* Espacio entre los elementos */
    padding: 1rem; /* Espaciado interno reducido */
  }

  .producto img {
    width: 100%; /* La imagen ocupa todo el ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 25px;
  }

  .grid-productos {
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); /* Ajusta el número de columnas automáticamente */
    padding: 1rem; /* Espaciado interno reducido */
  }
}

/***************************
  ******   LOCALIZACIÓN   ***
  ***************************/
.mapa,
.direcion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.direcion p {
  display: inline;
}

.contenedor-localizacion {
  display: flex; /* Activa Flexbox */
  align-items: flex-start; /* Alinea elementos en la parte superior (opcional) */
  justify-content: space-between; /* Espacia los elementos a lo largo del contenedor */
  gap: 20px; /* Espacio entre los elementos */
  margin: 20px; /* Espaciado general */
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
}

.texto {
  flex: 1; /* Ocupa todo el espacio que pueda */
}
.texto h3 {
  text-align: left;
  color: #689f38;
  font-size: 1.5rem;
}
.mapa {
  flex: 1; /* Ocupa la misma proporción que el texto */
  max-width: 900px; /* Tamaño máximo del mapa */
}

.bi {
  color: #689f38; /* Cambia el color de los iconos */
  margin-right: 10px; /* Añade espacio entre el icono y el texto */
  font-size: 1.2rem; /* Ajusta el tamaño de los iconos */
}

/****** Estilos responsive para tablet y móvil ******/
@media screen and (max-width: 768px) {
  .contenedor-localizacion {
    flex-direction: column; /* Cambia a diseño en columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .contenedor-localizacion .texto,
  .contenedor-localizacion .mapa {
    flex: 1 1 100%; /* Cada elemento ocupa el 100% del ancho */
    padding: 1rem 0; /* Espaciado interno arriba y abajo */
  }

  .contenedor-localizacion .mapa {
    height: 300px; /* Reduce la altura del mapa en pantallas pequeñas */
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.5rem; /* Reduce el tamaño del texto */
    margin: 0.3rem; /* Reduce el margen */
  }
  .direccion h3,
  .horario h3 {
    font-size: 1.2rem; /* Reduce el tamaño del texto */
    margin: 0.3rem; /* Reduce el margen */
    color: var(--primary-color);
  }
  .contenedor-localizacion .mapa {
    height: 250px; /* Reduce aún más la altura del mapa en móviles */
  }
}

/* *****************************
  ******   CONTACTO    ****
  ***************************** */
.contacto {
  background-color: white;
}
.contenedor-formulario {
  color: var(--text-buttons);
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--background-color-opacidad-06);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.forma {
  margin: 0 auto;
  width: 60%;
  max-width: 820px;
  background-color: var(--surface-color); /* Fondo del formulario */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr; /* Dos columnas */
  column-gap: 20px;
}

.forma-contacto {
  grid-column: 1;
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    rgba(250, 250, 250, 0)
  ); /* Degradado con el color primario */
  position: relative;
}

.forma-contacto p {
  padding: 1rem 2rem;
  font-size: 1rem; /* Tamaño de fuente */
  line-height: 1.5; /* Espaciado entre líneas */
  margin: 20px auto; /* Márgenes amplios arriba y abajo */
  text-align: center; /* Centra el texto */
}
.form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

label {
  display: none;
}

.input {
  width: 100%;
  outline: none;
  background: none;
  padding: 0.6rem 1.2rem;
  color: var(--text-icons); /* Texto oscuro */
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  border: 2px solid var(--bakground-color); /* Borde de los botones */
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 1rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: var(--bakground-color);
  font-size: 1.2rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.texarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: var(--primary-color); /* Botón con color primario */
  border: 2px solid var(--primary-color);
  font-size: 1.2rem;
  color: var(--text-buttons); /* Texto en blanco */
  line-height: 1;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: transparent;
  color: var(--bakground-color); /* Texto cambia al color primario */
  border: 2px solid var(--bakground-color);
}

#mensaje-enviado {
  font-size: 1.2rem;
  color: white;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  padding: 0 0.4rem;
  color: var(--accent-color-buttons); /* Color de acento */
  pointer-events: none;
  z-index: 500;
  background-color: var(--surface-color); /* Fondo del contenedor */
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 50%;
  opacity: 0.5;
  transition: 0.3s;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 1.2rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
}

/* Contacto tablet */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem; /* Reduce el tamaño del texto */
    margin: 0.5rem; /* Reduce el margen */
  }
  h3 {
    font-size: 1.5rem; /* Reduce el tamaño del texto */
    margin: 0.5rem; /* Reduce el margen */
    color: var(--text-icons);
  }

  .contenedor-formulario {
    padding: 1rem; /* Reduce el espaciado interno */
    flex-direction: column; /* Cambia a diseño en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    background-color: transparent;
  }

  .forma {
    width: 90%; /* Ocupa el 90% del ancho disponible */
    max-width: 600px; /* Limita el ancho máximo */
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    padding: 1.5rem; /* Reduce el espaciado interno */
    background-color: transparent;
  }

  .forma-contacto {
    grid-column: 1; /* Asegura que ocupe toda la fila */
    padding: 0.5rem; /* Reduce el espaciado interno */
    text-align: center; /* Centra el texto */
  }
  .forma-contacto p:last-child {
    font-size: 1rem; /* Reduce el tamaño del texto */
    line-height: 1.4; /* Espaciado entre líneas */
    color: var(--text-icons); /* Color del texto */
  }
  .input-container {
    margin: 0.5rem 0; /* Reduce el margen entre los campos */
  }

  .input-container span {
    background-color: #ffffff; /* Cambia el fondo a blanco */
    color: var(--text-icons); /* Asegura que el texto sea visible */
  }
  .btn {
    width: 100%; /* Botón ocupa todo el ancho */
    font-size: 1rem; /* Ajusta el tamaño del texto */
  }
}

/* Contacto movil */
@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.5rem; /* Reduce el tamaño del texto */
    margin: 0.5rem; /* Reduce el margen */
  }
  h3 {
    font-size: 1.2rem; /* Reduce el tamaño del texto */
    margin: 0.5rem; /* Reduce el margen */
    color: var(--text-icons);
  }
  .contenedor-formulario {
    padding: 0.5rem; /* Reduce aún más el espaciado interno */
    background-color: transparent;
  }

  .forma {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 1rem; /* Reduce el espaciado interno */
    background-color: transparent;
  }

  .forma-contacto {
    padding: 0.5rem; /* Reduce el espaciado interno */
    font-size: 0.8rem; /* Reduce el tamaño del texto */
  }
  .forma-contacto p {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
    line-height: 1.4; /* Espaciado entre líneas */
    color: var(--text-icons); /* Color del texto */
  }

  .input-container {
    margin: 1rem 0; /* Reduce el margen entre los campos */
  }
  .input-container span {
    background-color: #ffffff; /* Cambia el fondo a blanco */
    color: var(--text-icons); /* Asegura que el texto sea visible */
  }

  .btn {
    font-size: 1rem; /* Reduce el tamaño del texto */
    padding: 0.5rem 1rem; /* Ajusta el espaciado interno */
  }
}
